@import 'normalize.css';

:root {
    --primary: rgba(255, 59, 92, 1);
    --bgr: #f1f1f2;
    --text-color: #000;
    --white: #fff;
    --font-family: 'ProximaNova', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

//font embedded

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: Sofiapro;
    src: url('/assets/fonts/sofiapro-bold.woff2');
    font-weight: 700;
}

/* ===== Scrollbar CSS ===== */
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #f6f6f6;
    border-radius: 12px;
}

//custom tippy

body .tippy-box {
    text-align: left;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 16px;
    background-color: rgba(84, 84, 84, 0.92);
    color: rgb(255, 255, 255);
    padding: 8px 0;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 24px;
    object-fit: cover;
}
