.wrapper {
    display: flex;
    padding: 9px 16px;
    cursor: pointer;
    align-items: center;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0px 12px 0px 0px;
}

// .info {
// }

.name {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    svg {
        margin-left: 6px;
        color: rgb(32, 213, 236);
    }
}
.username {
    font-size: 14px;
    line-height: 20px;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
